/*
    Document   : canvas.css
    Created on : 2015-04-27 09:42 PM
    Author     : Novark3
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
div {
    position: relative;
    left: 1305px;
    top: -600px
}
root {
    display: block;
}
img{
    visibility: hidden;
}
body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}